.video {
    height: 100vh;
    position: relative;
}
.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video__overlay {
    position: absolute;
    background: rgba(0,0,0,0.65);
    inset: 0;
}
.video__circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--color-golden);
    cursor: pointer;
}