.footer {
    width: 100%;
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background: var(--color-black);
    padding-top: 0;
}
.footer__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5rem;
    padding: 0 2rem;
}
.footer__contact, .footer__logo, .footer__work {
    flex: 1;
    margin: 1rem;
    text-align: center;
}
.footer__logo img:first-child {
    width: 210px;
    margin-bottom: 0.75rem;
}
.footer__work p:nth-child(2n+1) { margin-bottom: 1rem; }
.footer__icons { margin-top: 0.5rem; }
.footer__icons svg {
    color: var(--color-white);
    margin: 0.5rem;
    font-size: 24px;
    cursor: pointer;
}
.footer__icons svg:hover { color: var(--color-golden); }
.footer__head-text {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-size: 32px;
    line-height: 41.6px;
    margin-bottom: 1rem;
}
.footer__copyright { margin-top: 3rem;}


@media screen and (min-width: 2000px){
    .footer__head-text { 
        font-size: 51px;
        line-height: 61px;
    }
}
@media screen and (max-width: 1150px){
    .footer__links { 
        flex-direction: column;
        align-items: center;
        
        padding: 0;
    }
    .footer__logo, .footer__contact, .footer__work {
        margin: 2rem 0;
        width: 100%;
    }
}
@media screen and (max-width: 650px){ .footer { padding: 0 0 2rem 0;} }
@media screen and (max-width: 350px){  .footer__logo img:first-child { width: 80%; } }